*{
    margin: 0;
    padding: 0;
}


.maincontainer{
padding: 16px;
border: 1px solid red;
}
h2{
    margin: 16px 0;
}
.thesecondcontainer{
    width: 50%;
    box-shadow: ;
}
.img{
    width: 100%;
}
.p{
    text-align: center;
}
.thetirdcontainer{
    padding: 16px 0;
}

